@import url('@radix-ui/themes/styles.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242424;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #ffffff;
}